[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dataclasses-json = "*"
click = "*"

[dev-packages]
mypy = "*"
black = "*"
ruff = "*"
types-requests = "*"

[requires]
python_version = "3.10"
